* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {

    background-color: #080000;
}

.logo  {
    width: 200px;
    margin: 20px auto;
    display: block;
}

main {
    background-color: #f5f5f5;
    width: 400px;
    height: 700px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

label {
    padding: 10px;
    color: #777;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

select {
    width: 327px;
    height: 48px;
    display: block;
    padding: 5px;
    color: #555;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

input {
    width: 327px;
    height: 48px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #BBB;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.button-converter {
    font-size: 18px;
    width: 327px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #772FD3;
    margin-bottom: 5px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.button-converter :hover {
    opacity: 0.8;
}

.button-converter:active {
    opacity: 0.6;
}


section {
    width: 327px;
    height: 350px;
    border-radius: 20px;
    border: 1px solid #772FD3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.arrow {
    margin: 10px 0;
}

.currency-img {
    height: 80px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.currency {
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.money-brl,
.money-word {
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}